body{
background-color:lightblue;
}
h1{
  color:white;
  font-family:华文仿宋;
  text-align:center;
}
p{
  font-size:30px;
  font-family:华文仿宋;
  color:gray;
text-align:center;
}
.para{
  color:red;
  text-align:center;
  font-family:黑体;
font-size:30px;
}
.try1{
  border:3px solid blue;
text-align:center;
}
.try2{
  background-color:rgba(20,20,20,0.5);/*0.5是指透明度.也可采用
opacity：0.5；但是其设置透明度时所有子元素都会继承其透明度*/
  text-align:center;
}
.try3{
 text-align:center;
  background-image:url("C:/Users/孤雨遗心/Pictures/Saved Pictures/OIP-C.jpg");
/*这个链接引用要使用/，用\不行*/
background-repeat:no-repeat;
background-position:right top;
/*background-attachment:fixed;(固定背景图片)
background-attachment:scroll;
margin-right:300px;(右边距)
*/
}

